/* INDEX ---------------------------------------------- */
/* ---------------------------------------------------- */

body.index {
    height: 100vh;
    background-color: black;
}

body.index .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 0 0 0;
    height: 50vh;
    justify-content: space-around;
}

.btn-game {
    width: 90vw;
    text-align: center;
    display: inline-block;
    background-color: goldenrod;
    font-size: 5vh;
    text-decoration: none;
    color: black;
    padding: 4vh 0;
}

/* GAME 1 ---------------------------------------------- */
/* ----------------------------------------------------- */

.game-container {
    background-color: aqua;
    height: 100vh;
}

.life-container {
    font-size: 65px;
    padding: 25px 40px;
}

.score-container {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 75px;
    padding: 25px 40px;
}

.progress-bar-container {
    width: 95vw;
    margin: auto;
    position: relative;
    height: 50px;
    margin-top: 50px;
}

.progress-bar-container .starting-point {
    position: absolute;
    background-color: deeppink;
    width: 120px;
    height: 120px;
    left: 0;
    top: -35px;
}

.progress-bar-container .ending-point {
    position: absolute;
    background-color: deeppink;
    width: 120px;
    height: 120px;
    right: 0;
    top: -35px;
}


.progress-bar {
    width: 60vw;
    background-color: blueviolet;
    height: 50px;
    margin: auto;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.filled-bar {
    position: absolute;
    left:0;
    width: 0%;
    height: 100%;
    background-color: brown;
}

.ground {
    width: 100%;
    height: 20vh;
    background-color: yellow;
    position: fixed;
    bottom:0;
}

#peg-character {
    height: 15vh;
    width: 100px;
    background-color: orange;
    bottom: 20vh;
    left: 10vw;
    position: fixed;
    transition: bottom .3s;
}

#peg-character:hover,
#peg-character.high {
    bottom:35vh;
}

.obstacle {
    width: 120px;
    height: 120px;
    background-color: pink;
    position: fixed;
    bottom: 20vh;
    right: -50vw;
    transition: transform 30s;
}

.obstacle.moved {
    transform: translateX(-1000vw);
}


.questions-container {
    position: fixed;
    width: 95vw;
    height: 48vh;
    background-color: white;
    top: 15vh;
    left: 2.5vw;
}

.question-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 50px;
    display: flex;
    flex-direction: column;
}

.question-container > span {
    text-align: center;
}

.question {
    margin: 6vh 0 5vh 0;
    align-items: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.answer {
    height: 6vh;
    margin: 1vh 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
}

.answer.correct {
    background-color: lightgreen;
}

.answer.wrong {
    background-color: lightcoral;
}

.questions-container{
    display: none;
}

.question-container {
    display: none;
}

/* GAME 2 ---------------------------------------------- */
/* ----------------------------------------------------- */

