/* INDEX ---------------------------------------------- */
/* ---------------------------------------------------- */

body.index {
    height: 100vh;
    background-color: black;
}

body.index .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 0 0 0;
    height: 50vh;
    justify-content: space-around;
}

.btn-game {
    width: 90vw;
    text-align: center;
    display: inline-block;
    background-color: goldenrod;
    font-size: 5vh;
    text-decoration: none;
    color: black;
    padding: 4vh 0;
}

/* GAME 1 ---------------------------------------------- */
/* ----------------------------------------------------- */

.game-container {
    height: 100vh;
    background-image: url("../assets/images/3643c4cd6a43f.jpg");
}

.life-container {
    font-size: 65px;
    padding: 25px 40px;
}

.score-container {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 75px;
    padding: 25px 40px;
}

.progress-bar-container {
    width: 95vw;
    margin: auto;
    position: relative;
    height: 50px;
    margin-top: 50px;
}

.progress-bar-container .starting-point {
    position: absolute;
    background-image: url("../assets/images/nova_building.png");
    background-size: cover;
    width: 200px;
    height: 200px;
    left: 0;
    top: -55px;
    box-shadow: 0 0 15px black;
}

.progress-bar-container .ending-point {
    position: absolute;
    background-image: url("../assets/images/urban.jpeg");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    right: 0;
    top: -55px;
    box-shadow: 0 0 15px black;
}


.progress-bar {
    width: 45vw;
    background-color: blueviolet;
    height: 50px;
    margin: auto;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    top: 30px;
}

.filled-bar {
    position: absolute;
    left:0;
    width: 0%;
    height: 100%;
    background-color: brown;
}


#peg-character {
    height: 24vh;
    width: 100px;
    bottom: 0vh;
    left: 10vw;
    position: fixed;
    transition: bottom .5s;
    z-index: 10;
}

#peg-character img {
    height: 100%;
}

#peg-character.high {
    bottom:18vh;
}

.obstacle {
    width: 80px;
    height: 120px;
    position: fixed;
    bottom: 0vh;
    right: -50vw;
    transition: transform 5s;
    transition-timing-function: linear;
}

.obstacle.obstacle-0 {
    height: 200px;
    background-color: brown;
}

.obstacle.obstacle-1 {
    height: 250px;
    background-image: url("../assets/images/carlao.png");
    background-size: cover;
}

.obstacle.obstacle-2 {
    height: 115px;
    width: 170px;
    background-image: url("../assets/images/egypt.png");
    background-size: cover;
}

.obstacle.obstacle-3 {
    height: 200px;
    width: 150px;
    background-image: url("../assets/images/rose.png");
    background-size: cover;
}

.obstacle.obstacle-4 {
    height: 150px;
    width: 150px;
    background-image: url("../assets/images/exam.png");
    background-size: cover;
}

.obstacle.obstacle-5 {
    height: 120px;
    width: 180px;
    background-image: url("../assets/images/metro.png");
    background-size: cover;
}

.obstacle.obstacle-6 {
    height: 250px;
    width: 150px;
    background-image: url("../assets/images/shot.png");
    background-size: cover;
}

.obstacle.obstacle-7 {
    height: 100px;
    background-image: url("../assets/images/shot.png");
    background-size: cover;
}

.obstacle.obstacle-8 {
    height: 150px;
    width: 200px;
    background-image: url("../assets/images/rolercoaster.png");
    background-size: cover;
}

.obstacle.moved {
    transform: translateX(-200vw);
}


.questions-container {
    position: fixed;
    width: 95vw;
    height: 48vh;
    background-color: white;
    top: 18vh;
    left: 2.5vw;
    font-size: 50px;
}

.question-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.question-container > span {
    text-align: center;
}

.question {
    margin: 6vh 0 5vh 0;
    align-items: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.answer {
    height: 6vh;
    margin: 1vh 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
}

.answer.correct {
    background-color: lightgreen;
}

.answer.wrong {
    background-color: lightcoral;
}

.questions-container, 
.question-container {
    display: none;
}

.text-container {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5vh 5vw;
    opacity: 0;
}

.text-container.on {
    opacity: 1;
}


/* GAME 2 ---------------------------------------------- */
/* ----------------------------------------------------- */

